/* Reset some default styles to ensure consistency across browsers */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0c1022;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.hire-me {
    flex: 0 0 auto;
}

.bnt {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    background: none; /* Suppression de la couleur de fond */
}

.bnt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
}

.bnt::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}

.bnt:hover::after {
    background-position: 100%;
}

.home-sci a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 10px; /* Ajustez la marge selon vos besoins */
}

.home-sci a:hover {
    background: linear-gradient(45deg, #f06, #3cf);
}

.home-sci a:hover::before {
    background: linear-gradient(45deg, #f06, #3cf);
}
.pp.png {
    /* ... (le reste de votre code CSS) ... */
    max-width: 100%;
    height: auto;
    width: 200px; /* Définir la largeur souhaitée */
    border-radius: 50%; /* Ajouter une bordure arrondie pour obtenir un cercle */
    overflow: hidden; /* Cacher le dépassement du cercle */
}

/* ... (le reste de votre code CSS) ... */

